 *{
           margin:0;
           padding:0;
           
           }
           body{
           padding: 20px;
           }
           
           #cancelar{
           margin-left: 15px;
           }